*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
html{
    border-radius: 20px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 66px;
    gap: 6px;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
}
button{
    font-size: 16px;
    width: 60px;
    height: 30px;
    background: none;
    border-radius: 4px;
    background-color: #252535;
    color: #E4E4E7;
    border: none;
    outline: none;
    cursor: pointer;
}
p{
    font-size: 16px;
}